@model List<MoneyTemplate.Models.AccountDataViewModel>
@using MoneyTemplate.Models
@using System.Web.Mvc.Html
@using MoneyTemplate.Helper
@{
    Layout = null;
    var i = 0;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @foreach (var item in Model) {
                i++;
                <tr>
                    <td>@i.ToString()</td>
                    <td class="text-danger">
                        @*@DisplayAccountTypeColor(item.AccountType)*@
                        @Html.DisplayAccountTypeColor(item.AccountType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Money)

                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@helper DisplayAccountTypeColor(AccountTypeEnum AccountType) {
    if (AccountType == AccountTypeEnum.income) {
        <span class="text-primary">@AccountType.GetEnumDescription()</span>
    } else if (AccountType == AccountTypeEnum.expenditure) {
        <span class="text-danger">@AccountType.GetEnumDescription()</span>
    }
}


