@model MoneyTemplate.Models.AccountDataViewModel
@{
    ViewBag.Title = "Home Page";

}
<div class="container body-content">

    @{
        Html.EnableClientValidation();
        using (Ajax.BeginForm("AjaxIndex", "Home", null, new AjaxOptions {
            UpdateTargetId = "addform", LoadingElementId = "loadingImg", LoadingElementDuration = 3000,
            Confirm = "確定要新增嗎?", InsertionMode = InsertionMode.ReplaceWith
        }, new { @class = "form-horizontal" })) {
            @Html.AntiForgeryToken()
            <div id="addform" class="well">
                <div id="loadingImg" style="display:none">
                    <img src="~/images/loader.gif" />
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">類別</label>
                    <div class="col-sm-10">
                        @Html.EnumDropDownListFor(w => w.AccountType, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="money" class="col-sm-2 control-label">金額</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(w => w.Money, new { @class = "form-control", placeholder = "金額" })
                        @Html.ValidationMessageFor(w => w.Money, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">日期</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(w => w.DateTime, new { @class = "form-control", placeholder = "日期" })
                        @Html.ValidationMessageFor(w => w.DateTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">備註</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(w => w.Remark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(w => w.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="submit" class="btn btn-default">送出</button>
                    </div>
                </div>
            </div>
        }
    }
    @Html.Action("AccountDataPage")
    <hr />
    @Html.Partial("_Footer")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}